<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechPrintclub!</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>

    <h1 id="timer"></h1>

    <canvas id="canvas"></canvas>
    <div>
        <video id="video"></video>
    </div>

    <form action="/takePhoto" method="post" enctype="multipart/form-data" id="takePhotoForm">
        <input type="hidden" name="file" id="file">
        
        <input type="submit" value="さつえい" onClick="countdown();">
    </form>

    <img src="" alt="" id="image">

    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <script src="/script.js"></script>
</body>
</html>